*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BAR-TOP SETTINGS */

header{background-color: rgb(148, 148, 148); color: #fff; overflow:hidden; position: sticky;top: 0; z-index: 1;}
.header-container{width: 33.3333%; background-color: aquamarine;float: left;}
.header-container ul{list-style-type: none;}
.header-container li{float: right; padding: 15px 15px;}
.header-container li:hover:not(.active){background-color: gray;}
.header-container a{text-decoration: none; color: inherit;}
.active{background-color: rgb(0, 105, 40);}
.header-container input{padding: 5px 20px; display: inline;}

/* FOOTER SETTINGS */
.footer ul{list-style-type: none; color: white;}
.footer a{text-decoration: none; color: inherit;}
.footer li{float: left; color: white; padding: 0 20px;}


/* OBJECT SETTINGS */
.container{padding: 80px 120px;}
.footer{padding: 80px 120px; background-color: #333;}
.card{box-shadow: 0px 0px 20px rgb(14, 14, 14);text-align: center;padding:10px 0 10px 0}
.card h3, .card p{margin-bottom: 10px;}
.card img{width: 100%;}
.profile img{border-radius: 50%; width: 100%;}
.profile ul{list-style-type: none;}
.profile li{float: left; padding: 15px;}

/* IMAGE SETTINGS */

/* GRID SETTINGS  ================================================================== */ 

/* For Mobile */
[class*=".grid-"]{width: 100%;}

/* For Desktop */
@media only screen and (min-width: 600px) {
    .grid-4{width: 33.3333%; float: left;padding: 16px;box-sizing: border-box;}
    .grid-8{width: 66.6666%; float: left;padding: 16px;box-sizing: border-box;}
}

/* CLEAR SECTION */

.container:before, .container:after, .row:before, .row:after, .bar-top:after,.bar-top:before{
    display: table;
    content: " ";
}

.container:before,.container:after, .row:before, .row:after, .bar-top:after,.bar-top:before{
    clear: both;
}